/* importing font */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/lato');
}

@font-face {
    font-family: openSans;
    src: url('./assets/fonts/openSans');
}

/* css code for screen size < 600px*/
/* general css */
html {
    font-size: 12px;
}

*{
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

h1, h2, h3 {
        font-family: 'openSans-Bold', sans-serif;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

/* css code for articles - that shouldn't be rows (only applies when screens > 960px */
.article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 0;
}

/* css code for navigation bar */
nav {
    margin: 1rem ;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: right;
    list-style-type: none;
  }
  
  nav li a {
    font-family: 'openSans', sans-serif;
    font-weight: bold;
    display: block;
    color: #282828;
    text-align: center;
    text-decoration: none;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  
  li a:hover:not(.active) {
    color: rgb(32, 158, 49);
    text-decoration:underline #282828;
  }

/* css code header  */
header {
    width: 85vw;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    }

header > h1{
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
}

/* css code main */
main {
    width:85vw;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

main > div{
    margin: 0 0 2rem 0;
}

main div > img{
    max-width: 100%;
    padding-bottom: 1rem;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

/* css code about page */
.about-article > p{
    line-height: 2.5rem;
    padding-left: 0;
}

/* css code contact page */
main > form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 700;
}

main form > textarea{
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    border-radius: 0.3rem;
    background-color: #f8f8f8;   
}

main form > input[type=text], select {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    display: inline-block;
    border: 0.2rem solid #ccc;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

main form > input[type=submit] {
    width: 100%;
    height: 3rem;
    background-color: rgb(32, 158, 49);
    color: white;
    margin: 1rem 0;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 900;
}

/* changing color of button when hovered */
  main form > input[type=submit]:hover {
    background-color: rgb(18, 88, 27);
}

/* footer */
footer {
    background-color: #282828;
    max-width: 100%;
    margin: auto;
    color: #ffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer > img{
    width: 100%;
    max-width: 20vh;
    height: auto;
    padding: 2rem;
}

footer > div{
    padding: 0 2rem 2rem 2rem;
    text-align: center;
}

.mapWrapper iframe {
    max-width: 80vh;
}

footer > * {
    margin: 0 auto;
}

/* css code for screens 600px and bigger*/
@media screen and (min-width: 600px) {

    /* general css rules */
    html {
        font-size: 14px;
    }

    header, main{
        width: 80vw;
    }

    footer{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
}
/* css code for screens 960px and bigger */
@media screen and (min-width: 960px) {
    
    /* general css rulese */
    html {
        font-size: 26px;
    }

    header, main{
        width: 70vw;
    }

    .article > p, h2, ul{
        text-align: left;
        padding-left: 0;
    }

    /* css code game page */
    /* css code for images & text in the same row */
    main > div{
        display: flex;
        flex-direction: row;
    }
    main div >p {
        padding-left: 2rem;
        display: flex;
    }   
    
    /* css code for articles on about staying in one column */
    .about-article{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}